{% extends "base.html" %}
{% block content %}
<div>
<table class="table table-hover" contenteditable="false">
        <thead>
                <tr>
                        <th>Title</th>
                        <th>Tag</th>
                        <th>Archive</th>
                        <th>Counter</th>
                        <th>Time</th>
                </tr>
        </thead>
{% for s in scrap %}
<!--
<h2><a href="/scrap/{{ s.title }}" class="text-center">{{ s.title }}</a></h2>
<HR style="FILTER: alpha(opacity=100,finishopacity=0,style=1)" width="80%" color=#987cb9 SIZE=3>
-->
<thead>
        <tbody>
                <tr>
                        <td><a href="/scrap/{{ s.title }}">{{ s.title }}</a></td>                        
                        <td><a href="/tag/{{ s.tag }}">{{ s.tag }}</a></td>
                        <td><a href="/archive/{{ s.archive }}">{{ s.archive }}</a></td>
                        <td>{{ s.counter }}</td>
                        <td>{{ s.create_time }}</td>
                </tr>
        </tbody>
</thead>
{% endfor %}
</table>
</div>

<nav>
    <ul class="pagination">
    {% if id != 1 %}
    <li><a href="/blog/{{ id - 1 }}">&laquo;</a></li>
    {% endif %}
    
    {% for page in range(1,pages+1) %}
    {% if id == page %}
    <li class="active">
    {% elif id != page %}
    <li class="">
    {% endif %}
    <a href="/blog/{{ page }}">{{ page }}<span class="sr-only">(current)</span></a></li>
    {% endfor %}
    
    {% if id != pages %}     
    <li><a href="/blog/{{ id + 1 }}">&raquo;</a></li>
    {% endif %}

     
  </ul>
</nav>
{% endblock %}